In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
names = ["UnitNo", "Time", 'Setting1', 'Setting2', 'Setting3', 'Sensor1', 'Sensor2', 'Sensor3', 'Sensor4', 
         'Sensor5', 'Sensor6', 'Sensor7', 'Sensor8', 'Sensor9', 'Sensor10', 'Sensor11', 'Sensor12', 'Sensor13', 
         'Sensor14', 'Sensor15', 'Sensor16', 'Sensor17', 'Sensor18', 'Sensor19', 'Sensor20', 
         'Sensor21', 'Sensor22', 'Sensor23', 'Sensor24', 'Sensor25', 'Sensor26']

In [3]:
train1 = pd.read_csv("Data/CMAPSSData/train1.csv", sep=' ' ,names=names)
train2 = pd.read_csv("Data/CMAPSSData/train2.csv", sep=' ' ,names=names)
train3 = pd.read_csv("Data/CMAPSSData/train3.csv", sep=' ' ,names=names)
train4 = pd.read_csv("Data/CMAPSSData/train4.csv", sep=' ' ,names=names)
test1 = pd.read_csv("Data/CMAPSSData/test1.csv", sep=' ' ,names=names)
test2 = pd.read_csv("Data/CMAPSSData/test2.csv", sep=' ' ,names=names)
test3 = pd.read_csv("Data/CMAPSSData/test3.csv", sep=' ' ,names=names)
test4 = pd.read_csv("Data/CMAPSSData/test4.csv", sep=' ' ,names=names)

In [4]:
rul1 = pd.read_csv("Data/CMAPSSData/RUL1.csv", names=['RUL'])
rul2 = pd.read_csv("Data/CMAPSSData/RUL2.csv", names=['RUL'])
rul3 = pd.read_csv("Data/CMAPSSData/RUL3.csv", names=['RUL'])
rul4 = pd.read_csv("Data/CMAPSSData/RUL4.csv", names=['RUL'])

In [5]:
train4.head()

,UnitNo,Time,Setting1,Setting2,Setting3,Sensor1,Sensor2,Sensor3,Sensor4,Sensor5,...,Sensor17,Sensor18,Sensor19,Sensor20,Sensor21,Sensor22,Sensor23,Sensor24,Sensor25,Sensor26
0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,...,330,2212,100.00,10.62,6.3670,NaN,NaN,NaN,NaN,NaN
1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,...,361,2324,100.00,24.37,14.6552,NaN,NaN,NaN,NaN,NaN
2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,1117.05,3.91,...,329,2212,100.00,10.48,6.4213,NaN,NaN,NaN,NaN,NaN
3,1,4,42.0000,0.8400,100.0,445.00,548.70,1341.24,1118.03,3.91,...,328,2212,100.00,10.54,6.4176,NaN,NaN,NaN,NaN,NaN
4,1,5,25.0063,0.6207,60.0,462.54,536.10,1255.23,1033.59,7.05,...,305,1915,84.93,14.03,8.6754,NaN,NaN,NaN,NaN,NaN

In [6]:
rul1.head()

   RUL
0  112
1   98
2   69
3   82
4   91

In [7]:
print(train1.shape)
print(rul1.shape)
print(train2.shape)
print(rul2.shape)
print(train3.shape)
print(rul3.shape)
print(train4.shape)
print(rul4.shape)

(20631, 31)
(100, 1)
(53759, 31)
(259, 1)
(24720, 31)
(100, 1)
(61249, 31)
(248, 1)

In [8]:
test1.shape

(13096, 31)

In [9]:
train = pd.concat([train1, train2, train3, train4])

In [10]:
train.head()

,UnitNo,Time,Setting1,Setting2,Setting3,Sensor1,Sensor2,Sensor3,Sensor4,Sensor5,...,Sensor17,Sensor18,Sensor19,Sensor20,Sensor21,Sensor22,Sensor23,Sensor24,Sensor25,Sensor26
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,392,2388,100.0,39.06,23.4190,NaN,NaN,NaN,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,392,2388,100.0,39.00,23.4236,NaN,NaN,NaN,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,390,2388,100.0,38.95,23.3442,NaN,NaN,NaN,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,392,2388,100.0,38.88,23.3739,NaN,NaN,NaN,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,393,2388,100.0,38.90,23.4044,NaN,NaN,NaN,NaN,NaN

In [11]:
train.drop(columns=['Sensor22', 'Sensor23', 'Sensor24', 'Sensor25', 'Sensor26'], inplace=True)

In [12]:
test = pd.concat([test1, test2, test3, test4])

In [13]:
test.drop(columns=['Sensor22', 'Sensor23', 'Sensor24', 'Sensor25', 'Sensor26'], inplace=True)

## Data Preprocessing

In [14]:
# Data Labeling - generate column RUL
rul = pd.DataFrame(train.groupby('UnitNo')['Time'].max()).reset_index()
rul.columns = ['UnitNo', 'max']
train = pd.merge(train,rul, on='UnitNo', how='left')
train['RUL'] = train['max'] - train['Time']
train.drop('max', axis=1, inplace=True)
train.head()

,UnitNo,Time,Setting1,Setting2,Setting3,Sensor1,Sensor2,Sensor3,Sensor4,Sensor5,...,Sensor13,Sensor14,Sensor15,Sensor16,Sensor17,Sensor18,Sensor19,Sensor20,Sensor21,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,320
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,319
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,318
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,317
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,316

In [15]:
# generate label columns for training data
w1 = 30
w0 = 15

# Label1 indicates a failure will occur within the next 30 cycles.
# 1 indicates failure, 0 indicates healthy 
train['label1'] = np.where(train['RUL'] <= w1, 1, 0 )

# label2 is multiclass, value 1 is identical to label1,
# value 2 indicates failure within 15 cycles
train['label2'] = train['label1']
train.loc[train['RUL'] <= w0, 'label2'] = 2
train.head()

,UnitNo,Time,Setting1,Setting2,Setting3,Sensor1,Sensor2,Sensor3,Sensor4,Sensor5,...,Sensor15,Sensor16,Sensor17,Sensor18,Sensor19,Sensor20,Sensor21,RUL,label1,label2
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8.4195,0.03,392,2388,100.0,39.06,23.4190,320,0,0
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8.4318,0.03,392,2388,100.0,39.00,23.4236,319,0,0
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8.4178,0.03,390,2388,100.0,38.95,23.3442,318,0,0
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8.3682,0.03,392,2388,100.0,38.88,23.3739,317,0,0
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8.4294,0.03,393,2388,100.0,38.90,23.4044,316,0,0

In [16]:
# MinMax normalization
train['Unit_norm'] = train['UnitNo']
cols_normalize = train.columns.difference(['UnitNo', 'Time', 'RUL', 'label1', 'label2'])
scaler = MinMaxScaler()
norm_train = pd.DataFrame(scaler.fit_transform(train[cols_normalize]), columns=cols_normalize, index=train.index)

join_df = train[train.columns.difference(cols_normalize)].join(norm_train)
train = join_df.reindex(columns=train.columns)
train.head()

In [19]:
test['Unit_norm'] = test['UnitNo']
norm_test_df = pd.DataFrame(scaler.transform(test[cols_normalize]), 
                            columns=cols_normalize, 
                            index=test.index)
test_join_df = test[test.columns.difference(cols_normalize)].join(norm_test_df)
test = test_join_df.reindex(columns = test.columns)
test = test.reset_index(drop=True)
test.head()

,UnitNo,Time,Setting1,Setting2,Setting3,Sensor1,Sensor2,Sensor3,Sensor4,Sensor5,...,Sensor13,Sensor14,Sensor15,Sensor16,Sensor17,Sensor18,Sensor19,Sensor20,Sensor21,Unit_norm
0,1,1,0.000213,0.001980,-1.475,-6.026877,-4.875482,-3.318070,-2.448706,-0.271709,...,-5.584087,-17.513853,-2.772894,98.0,-3.072262,-4.046512,-5.569343,-0.309272,-0.281085,0.0
1,1,1,0.005876,0.353964,-1.475,-6.032334,-4.878643,-3.318699,-2.449241,-0.307453,...,-5.584086,-17.513910,-2.744281,98.0,-3.074656,-4.046820,-5.569343,-0.321083,-0.300406,0.0
2,1,1,0.000211,0.000994,-1.475,-6.026877,-4.875572,-3.318094,-2.448714,-0.271709,...,-5.584087,-17.513814,-2.776341,98.0,-3.072366,-4.046512,-5.569343,-0.309034,-0.280857,0.0
3,1,1,0.011545,0.987508,-1.475,-6.031940,-4.878506,-3.318814,-2.449683,-0.317653,...,-5.584089,-17.514235,-2.676371,-2.0,-3.075385,-4.046798,-5.569343,-0.325733,-0.308032,0.0
4,1,1,0.000213,0.001980,-1.475,-6.026877,-4.875482,-3.318070,-2.448706,-0.271709,...,-5.584087,-17.513853,-2.772894,98.0,-3.072262,-4.046512,-5.569343,-0.309272,-0.281085,0.0